<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>沙漠绿洲</title>
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" type="text/css" href="../../font/iconfont.css">
    <link rel="stylesheet" href="../../css/address.css">
    <link rel="stylesheet" href="../../css/index.css">
</head>
<body>
    <div class="page-group">
        <div class="page page-current">
             <header class="bar bar-nav">
                <a href="index.html" class="icon icon-left pull-left external"></a>
                <h1 class='title'>收货地址</h1>
            </header>
            <div class="content">
                <div class="form-group">
                    <div class="form-control">广东省广州市海珠区仲恺路500号</div>
                </div>
                <div class="jq22-container">
                    <form class="form-inline">
                    <div class="form-data" data-toggle="distpicker">
                        <div class="form-group">
                        <label class="sr-only" for="province1">Province</label>
                        <select class="form-control" id="province1"></select>
                        </div>
                        <div class="form-group">
                        <label class="sr-only" for="city1">City</label>
                        <select class="form-control" id="city1"></select>
                        </div>
                        <div class="form-group">
                        <label class="sr-only" for="district1">District</label>
                        <select class="form-control" id="district1"></select>
                        </div>
                    </div>
                    <div class="form-group ">
                        <input class="form-control edit-btn"  type="button" value="修改">
                    </div>
                    </form>
                </div>
               
            </div>
        </div>
    </div>
</body>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script src="../../lib/jquery-3.3.1.js"></script>
<script src="../../js/distpicker.data.js"></script>
<script src="../../js/distpicker.js"></script>
<script src="../../js/main.js"></script>
<!--<script src="../../js/public.js"></script>-->
<!-- <script src="../../js/index.js"></script> -->
</html>