<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>分类商品列表</title>
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" type="text/css" href="../../font/iconfont.css">
    <link rel="stylesheet" href="../../lib/dist/css/mescroll.min.css">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/mescroll.css">
</head>
<body>
    <div class="page-group">
        <div class="page page-current">
             <header class="bar bar-nav">
                <a href="index.html" class="icon icon-left pull-left external"></a>
                <h1 class='title'>分类商品列表</h1>
            </header>
            <div class="content">
                        
                <div id="mescroll" class="mescroll search-list">
                    <ul id="dataList" class="data-list">
                        <li><a href="product_details.html" class="list-item external"><img class="p-pic" src="../../img/loading.jpg"><div class="d"><h3 class="d-title">逸阳2018冬季新款高腰显瘦打底裤女小脚铅笔</h3><div class="d-price">¥159</div><div class="d-main"><div class="d-freight">免运费</div><div class="d-num">6444人付款</div><div class="d-area">郑州</div></div></div></a></li>
                        <li><a href="product_details.html" class="list-item external"><img class="p-pic" src="../../img/loading.jpg"><div class="d"><h3 class="d-title">逸阳2018冬季新款高腰显瘦打底裤女小脚铅笔</h3><div class="d-price">¥159</div><div class="d-main"><div class="d-freight">免运费</div><div class="d-num">6444人付款</div><div class="d-area">郑州</div></div></div></a></li>
                        <li><a href="product_details.html" class="list-item external"><img class="p-pic" src="../../img/loading.jpg"><div class="d"><h3 class="d-title">逸阳2018冬季新款高腰显瘦打底裤女小脚铅笔</h3><div class="d-price">¥159</div><div class="d-main"><div class="d-freight">免运费</div><div class="d-num">6444人付款</div><div class="d-area">郑州</div></div></div></a></li>
                        <li><a href="product_details.html" class="list-item external"><img class="p-pic" src="../../img/loading.jpg"><div class="d"><h3 class="d-title">逸阳2018冬季新款高腰显瘦打底裤女小脚铅笔</h3><div class="d-price">¥159</div><div class="d-main"><div class="d-freight">免运费</div><div class="d-num">6444人付款</div><div class="d-area">郑州</div></div></div></a></li>
                    </ul>
                </div>
            
                <!-- 返回顶部按钮 -->
                <a href="#searchbar" class="external back-top" id="back-top"><i class="iconfont icon-fanhuidingbu"></i></a>
                </div>
            </div>
        </div>

      
    </div>
</body>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="../../lib/dist/js/mescroll.min.js"></script>
<script src="../../lib/jquery-3.3.1.js"></script>
<script src="../../js/public.js"></script>
</html>