<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>订单详情</title>
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" type="text/css" href="../../font/iconfont.css">
    <link rel="stylesheet" href="../../lib/dist/css/mescroll.min.css">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/mescroll.css">
</head>
<body>
    <div class="page-group">
        <div class="page page-current">

            <header class="bar bar-nav">
                <a href="index.html" class="icon icon-left pull-left external"></a>
                <h1 class='title'>订单详情</h1>
            </header>
            <div class="content">
               
                <div class="buyer-payment">买家已付款</div>

                <div class="user-info-detail">
                    <div class="address-incon"><i class="iconfont icon-dizhi"></i></div>
                   <div>
                        <div class="user-name"><span id="user-name">卓文智</span><span class="user-phone" id="user-phone">15217715728</span></div>
                        <div class="user-address" id="user-address">广东省广州市海珠区仲恺路500号</div>
                   </div>
                </div>

                <a href="product_details.html" class="content-block order-list external">
                        <div class="order-store">
                            <div class="order-store-name"><i class="iconfont icon-dianpu"></i><span id="order-store-name">鑫源泽数码专营店</span></div>
                            <div class="order-status" id="order-status">卖家已发货</div>
                        </div>
                        <div class="order-product">
                            <img class="order-product-img" id="order-product-img" src="../../img/loading.gif" alt="">
                            <div class="order-product-main"> 
                                <div class="order-product-content" id="order-product-content">电脑耳机头戴式台式电竞游戏耳麦网吧带麦吃鸡NUBWO/狼博旺 N1有线带话筒笔记本手机7.1声道绝地求生听声辩位</div> 
                                <div class="order-product-price-info">
                                    <div class="order-product-price" id="order-product-price">￥25.00</div>
                                    <div class="order-product-price" id="order-product-count">x1</div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="order-count">
                            <span>共<span id="order-count">1</span>件商品</span>
                            <span class="order-count-price" >合计:￥<span id="order-count-price">25</span></span>
                        </div>
                        <div class="line"></div>
                        <div class="wuliu-info">
                            <div>退款</div>
                        </div>
                    </a>
                    
                    <div class="my-order-detail">
                        <ul class="my-order-detail-ul">
                            <!-- <li><span>订单备注:</span><span>订单备注订单备注订单备注订单备注</span></li> -->
                            <li><span>支付宝交易号:</span><span id="logistics">2018111122001145095430290760</span></li>
                            <li><span>创建时间:</span><span id="create-time">2018-11-11 01:22:27</span></li>
                            <li><span>付款时间:</span><span id="pay-time">2018-11-11 01:22:27</span></li>
                        </ul>
                    </div>
            </div>

            <!-- 返回顶部按钮 -->
            <!-- <a href="#searchbar" class="external back-top" id="back-top"><i class="iconfont icon-fanhuidingbu"></i></a> -->
        </div>
    </div>
</body>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="../../lib/dist/js/mescroll.min.js"></script>
<script src="../../lib/jquery-3.3.1.js"></script>
<script src="../../js/public.js"></script>
</html>