<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>店铺全部宝贝</title>
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" type="text/css" href="../../font/iconfont.css">
    <link rel="stylesheet" href="../../lib/dist/css/mescroll.min.css">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/mescroll.css">
</head>
<body>
    <div class="page-group">
        <div class="page page-current">

            <header class="bar bar-nav">
                <a href="index.html" class="icon icon-left pull-left external"></a>
                <h1 class='title'>我的订单</h1>
            </header>
            <div class="content">
                <div class="buttons-tab">
                    <a href="#tab1" class="tab-link active button">全部</a>
                    <a href="#tab2" class="tab-link button">待付款</a>
                    <a href="#tab3" class="tab-link button">待发货</a>
                    <a href="#tab4" class="tab-link button">待收货</a>
                </div>
                <div class="content-block">
                    <div class="tabs">
                    <div id="tab1" class="tab active">

                       <a href="my_order_detail.html" class="content-block order-list external">
                        <div class="order-store">
                            <div class="order-store-name"><i class="iconfont icon-dianpu"></i>鑫源泽数码专营店</div>
                            <div class="order-status">卖家已发货</div>
                        </div>

                        <div class="order-product">
                            <img class="order-product-img" src="../../img/loading.gif" alt="">
                            <div class="order-product-main"> 
                                <div class="order-product-content">电脑耳机头戴式台式电竞游戏耳麦网吧带麦吃鸡NUBWO/狼博旺 N1有线带话筒笔记本手机7.1声道绝地求生听声辩位</div> 
                                <div class="order-product-price-info">
                                    <div class="order-product-price">￥25.00</div>
                                    <div class="order-product-price">x1</div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="order-count">
                            <span>共1件商品</span>
                            <span class="order-count-price">合计:￥25.00</span>
                        </div>
                        <div class="line"></div>
                        <div class="wuliu-info">
                            <div>退款</div>
                        </div>
                    </a>
                       

                    </div>
                    <div id="tab2" class="tab">
                        <div class="content-block">

                            <a href="my_order_detail.html" class="content-block order-list external">
                                <div class="order-store">
                                    <div class="order-store-name"><i class="iconfont icon-dianpu"></i>鑫源泽数码专营店</div>
                                    <div class="order-status">卖家已发货</div>
                                </div>

                                <div class="order-product">
                                    <img class="order-product-img" src="../../img/loading.gif" alt="">
                                    <div class="order-product-main"> 
                                        <div class="order-product-content">电脑耳机头戴式台式电竞游戏耳麦网吧带麦吃鸡NUBWO/狼博旺 N1有线带话筒笔记本手机7.1声道绝地求生听声辩位</div> 
                                        <div class="order-product-price-info">
                                            <div class="order-product-price">￥25.00</div>
                                            <div class="order-product-price">x1</div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="order-count">
                                    <span>共1件商品</span>
                                    <span class="order-count-price">合计:￥25.00</span>
                                </div>
                                <div class="line"></div>
                                <div class="wuliu-info">
                                    <div>退款</div>
                                </div>
                            </a>

                        </div>
                    </div>
                    <div id="tab3" class="tab">
                        <div class="content-block">

                                <a href="my_order_detail.html" class="content-block order-list external">
                                        <div class="order-store">
                                            <div class="order-store-name"><i class="iconfont icon-dianpu"></i>鑫源泽数码专营店</div>
                                            <div class="order-status">卖家已发货</div>
                                        </div>
        
                                        <div class="order-product">
                                            <img class="order-product-img" src="../../img/loading.gif" alt="">
                                            <div class="order-product-main"> 
                                                <div class="order-product-content">电脑耳机头戴式台式电竞游戏耳麦网吧带麦吃鸡NUBWO/狼博旺 N1有线带话筒笔记本手机7.1声道绝地求生听声辩位</div> 
                                                <div class="order-product-price-info">
                                                    <div class="order-product-price">￥25.00</div>
                                                    <div class="order-product-price">x1</div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="order-count">
                                            <span>共1件商品</span>
                                            <span class="order-count-price">合计:￥25.00</span>
                                        </div>
                                        <div class="line"></div>
                                        <div class="wuliu-info">
                                            <div>退款</div>
                                        </div>
                                    </a>

                        </div>
                    </div>
                    <div id="tab4" class="tab">
                        <div class="content-block">


                            <a href="my_order_detail.html" class="content-block order-list external">
                                    <div class="order-store">
                                        <div class="order-store-name"><i class="iconfont icon-dianpu"></i>鑫源泽数码专营店</div>
                                        <div class="order-status">卖家已发货</div>
                                    </div>
    
                                    <div class="order-product">
                                        <img class="order-product-img" src="../../img/loading.gif" alt="">
                                        <div class="order-product-main"> 
                                            <div class="order-product-content">电脑耳机头戴式台式电竞游戏耳麦网吧带麦吃鸡NUBWO/狼博旺 N1有线带话筒笔记本手机7.1声道绝地求生听声辩位</div> 
                                            <div class="order-product-price-info">
                                                <div class="order-product-price">￥25.00</div>
                                                <div class="order-product-price">x1</div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="order-count">
                                        <span>共1件商品</span>
                                        <span class="order-count-price">合计:￥25.00</span>
                                    </div>
                                    <div class="line"></div>
                                    <div class="wuliu-info">
                                        <div>退款</div>
                                    </div>
                                </a>


                        </div>
                    </div>
                    </div>
                </div>
            </div>

                <!-- 返回顶部按钮 -->
                <!-- <a href="#searchbar" class="external back-top" id="back-top"><i class="iconfont icon-fanhuidingbu"></i></a> -->
        </div>
    </div>
</body>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="../../lib/dist/js/mescroll.min.js"></script>
<script src="../../lib/jquery-3.3.1.js"></script>
<script src="../../js/public.js"></script>
<script src="../../js/my_order.js"></script>
</html>