<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>宝贝详情</title>
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" type="text/css" href="../../font/iconfont.css">
    <link rel="stylesheet" href="../../lib/dist/css/swiper.min.css">
    <link rel="stylesheet" href="../../css/mescroll.css">
    <link rel="stylesheet" href="../../css/index.css">
</head>
<body>
    <div class="page-group">
        <div class="page page-current">
             <header class="bar bar-nav">
                <a href="index.html" class="icon icon-left pull-left external"></a>
                <h1 class='title'>商品详情</h1>
            </header>
            <div class="content">

                <div class="swiper-container swiper-container-index">
                    <div class="swiper-wrapper" id="swiper-wrapper-index">
                        <div class="swiper-slide"><a class="external swiper-wrapper-body" href=""><img src="../../img/loading.jpg" alt="图片加载失败"></a></div>
                        <div class="swiper-slide"><a class="external swiper-wrapper-body" href=""><img src="../../img/loading.jpg" alt="图片加载失败"></a></div>
                        <div class="swiper-slide"><a class="external swiper-wrapper-body" href=""><img src="../../img/loading.jpg" alt="图片加载失败"></a></div>
                    </div>
                     <!-- 如果需要分页器 -->
                    <div class="swiper-pagination"></div>
                </div>

                <div class="product-detail">
                    <div class="product-price">
                        <span>￥</span>
                        <div class="product-price-num" id="product-price-num">125</div>
                    </div>
                    <div class="d"><h3 class="d-title" id="d-title">逸阳2018冬季新款高腰显瘦打底裤女小脚铅笔</h3>
                    <div class="d-main"><div class="d-freight">免运费</div><div class="d-num">6444人付款</div><div class="d-area">郑州</div></div></div>
                    
                </div>

               
                <div class="list-block-product">
                    <div class="user-status"><span>产品参数</span></div>
                    <div class="info-list">
                        <a class="external list-item list-item-product" href=""><span>价格</span><span> 首页</span></a>
                        <a class="external list-item list-item-product" href=""><span>价格</span><span> 首页</span></a>
                        <a class="external list-item list-item-product" href=""><span>价格</span><span> 首页</span></a>
                    </div>
                </div>
               
               <div class="product-store" id="product-store">
                   <div><img class="store-img"  src="../../img/loading.gif" alt=""></div>
                   <div class="product-store-name">巧艺天宫中国偶人唐人坊工厂京剧脸谱工艺品</div>
                  <div class="store-btn">
                        <a class="products-btn external" href="store_all.html"><span>全部宝贝</span></a>
                        <a class="enter-store-btn external" href="store.html"><span>进店逛逛</span></a>
                  </div>
               </div>
               
                <nav class="bar bar-tab">
                    <a class="tab-item external active" href="index.html">
                        <i class="icon icon-home iconfont icon-shouye"></i>
                        <span class="tab-label">返回首页</span>
                    </a>
                    <!-- <a class="tab-item external" href="store.html">
                        <i class="icon icon-home iconfont icon-dianpu"></i>
                        <span class="tab-label">进入店铺</span>
                    </a> -->
                    <a class="tab-item external" href="">
                        <i class="icon icon-home iconfont icon-gouwuche"></i>
                        <span class="tab-label">加入购物车</span>
                        <span class="badge">2</span>
                    </a>
                    <a class="tab-item external" href="#">
                        <i class="icon icon-home iconfont icon-lijigoumai"></i>
                        <span class="tab-label">立即购买</span>
                    </a>
                    
                </nav>

                </div>
            </div>
        </div>

        <div class="panel-overlay"></div>
            <!-- Left Panel with Reveal effect -->
        <div class="panel panel-left panel-reveal theme-dark" id='panel-left-demo'>
            <div class="content-block user-info">
                <div class="user-img"><img class="head-portrait" src="../../img/loading.jpg" alt="图片加载失败"></div>
                <p><div class="close-icon"><i class="iconfont icon-guanbi close-panel"></i></div></p>
            </div>
            <div class="list-block">
                <div class="user-status"><span>你好，岁忧郁习惯了蓝</span></div>
                <!-- <div class="user-status"><span class="user-login">登录</span><span class="user-register">新用户注册</span></div> -->
                <div class="info-list">
                    <a class="external list-item" href=""><i class="iconfont icon-shouye open-panel"></i>首页</a>
                    <a class="external list-item" href=""><i class="iconfont icon-dizhi open-panel"></i>收货地址</a>
                    <a class="external list-item" href=""><i class="iconfont icon-icon- open-panel"></i>我的订单</a>
                    <a class="external list-item" href=""><i class="iconfont icon-gouwuche open-panel"></i>购物车</a>
                    <a class="external list-item" href=""><i class="iconfont icon-gerenzhongxin open-panel"></i>性别</a>
                    <a class="external list-item" href=""><i class="iconfont icon-tuichu open-panel"></i>退出登录</a>
                </div>
            </div>
          
        </div>
      
    </div>
</body>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script src="../../lib/dist/js/swiper.min.js"></script>
<script src="../../lib/jquery-3.3.1.js"></script>
<!--<script src="../../js/public.js"></script>-->
<script src="../../js/product_details.js"></script>
</html>