<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>搜索宝贝</title>
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" type="text/css" href="../../font/iconfont.css">
    <link rel="stylesheet" href="../../lib/dist/css/mescroll.min.css">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/mescroll.css">
</head>
<body>
    <div class="page-group">
        <div class="page page-current">
             <header class="bar bar-nav">
                <a href="index.html" class="icon icon-left pull-left external"></a>
                <h1 class='title'>搜索</h1>
            </header>
            <div class="content">

                <div class="content-block header-bar">
                    <!-- <div class="menu-icon"><i class="iconfont icon-chakan open-panel" data-panel='#panel-left-demo'></i></div> -->
                    <!-- <div class="bar bar-header-secondary"> -->
                        <div class="searchbar search-store" id="searchbar">
                            <!-- <a class="searchbar-cancel">取消</a> -->
                            <div class="search-input">
                                <select class="dropdown-menu">
                                    <option value="title" role="presentation">书名</option>
                                    <option value="type" role="presentation">类别</option>
                                    <option value="range" role="presentation">价格范围</option>
                                    <!-- 选择无法触发点击事件，就先算数
                                    <option value="asc" role="presentation" onclick="changeToAsc()">价格升序</option>
                                    <option value="desc" role="presentation">价格降序</option>
                                    -->
                                </select>
                                <input type="search" id='search' placeholder='输入关键字...(如范围:0-50)'/>
                                <div class="search-icon" onclick="goSearch()"><i class="iconfont icon-sousuo"></i></div>
                            </div>
                        </div>
                    <!-- </div> -->
                    <a class="menu-icon external back-index" href="index.html"><i class="iconfont icon-shouye" style="font-size: 1.4rem;"></i></a>
                </div>

                        
                    <div id="mescroll" class="mescroll search-list">
                        <ul id="dataList" class="data-list">
                            <!--
                            <li><a class="list-item external"><img class="p-pic" src="../../img/loading.jpg"><div class="d"><h3 class="d-title">逸阳2018冬季新款高腰显瘦打底裤女小脚铅笔</h3><div class="d-price">¥159</div><div class="d-main"><div class="d-freight">免运费</div><div class="d-num">6444人付款</div><div class="d-area">郑州</div></div></div></a></li>
                            <li><a class="list-item external"><img class="p-pic" src="../../img/loading.jpg"><div class="d"><h3 class="d-title">逸阳2018冬季新款高腰显瘦打底裤女小脚铅笔</h3><div class="d-price">¥159</div><div class="d-main"><div class="d-freight">免运费</div><div class="d-num">6444人付款</div><div class="d-area">郑州</div></div></div></a></li>
                            <li><a class="list-item external"><img class="p-pic" src="../../img/loading.jpg"><div class="d"><h3 class="d-title">逸阳2018冬季新款高腰显瘦打底裤女小脚铅笔</h3><div class="d-price">¥159</div><div class="d-main"><div class="d-freight">免运费</div><div class="d-num">6444人付款</div><div class="d-area">郑州</div></div></div></a></li>
                            <li><a class="list-item external"><img class="p-pic" src="../../img/loading.jpg"><div class="d"><h3 class="d-title">逸阳2018冬季新款高腰显瘦打底裤女小脚铅笔</h3><div class="d-price">¥159</div><div class="d-main"><div class="d-freight">免运费</div><div class="d-num">6444人付款</div><div class="d-area">郑州</div></div></div></a></li>
                            动态显示 -->
                        </ul>
                    </div>
                
                    <!-- 返回顶部按钮 -->
                    <a href="#searchbar" class="external back-top" id="back-top"><i class="iconfont icon-fanhuidingbu"></i></a>
                </div>
            </div>
        </div>

      
    </div>
</body>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="../../lib/dist/js/mescroll.min.js"></script>
<script src="../../lib/jquery-3.3.1.js"></script>
<script src="../../js/public.js"></script>
<script src="../../js/search.js"></script>
</html>