<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace表示对应的接口类 -->
<mapper namespace="xyz.cglzwz.dao.ApplyStoreMapper">

    <resultMap id="applyStoreResultMap" type="applyStore">
        <id column="pk_id" property="id"/>
        <result column="owner_id" property="ownerId"/>
        <result column="store_name" property="storeName"/>
        <result column="store_introduction" property="storeIntroduction"/>
        <result column="apply_time" property="applyTime"/>
        <result column="status" property="status"/>
    </resultMap>
    
    <insert id="insertNewApply" parameterType="applyStore">
        INSERT INTO tb_apply_store(owner_id, store_name, store_introduction, apply_time)
          VALUES(#{ownerId}, #{storeName}, #{storeIntroduction}, #{applyTime})
    </insert>

    <select id="selectAll" resultMap="applyStoreResultMap">
        SELECT * FROM tb_apply_store
    </select>

    <select id="selectAllUntreated" resultMap="applyStoreResultMap">
        SELECT * FROM tb_apply_store WHERE status = -1
    </select>

    <update id="updateStatusToAccept" parameterType="int">
        UPDATE tb_apply_store SET status = 1 WHERE pk_id = #{id}
    </update>

    <update id="updateStatusToRefuse" parameterType="int">
        UPDATE tb_apply_store SET status = 0 WHERE pk_id = #{id}
    </update>

    <select id="selectOneByPkId" parameterType="int" resultMap="applyStoreResultMap">
        SELECT * FROM tb_apply_store WHERE pk_id = #{id}
    </select>
</mapper>